html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Avenir Next W00";
}

.header {
    grid-area: header;
    background-color: #0079c1;
}

.footer {
    grid-area: footer;
    background-color: #0079c1;
}

.sidebar {
    grid-area: sidebar;
    background-color: #333;
    position: relative;
}

.swdi-select {
    /* color: green; */
    font-size: small;
}

.map {
grid-area: map;
}

.wrapper {
    display: grid;
    grid-template-rows: 25%  25% auto, 25%;
    grid-template-areas:
        "header"
        "sidebar"
        "map"

        "footer";
    width: 100vw;
    height: 100vh;
}

.box {
    color: #fff;
    padding: 10px;
    font-size: 20px; 
}

@media only screen and (min-width: 544px)  {
.wrapper {
    grid-template-columns: 310px auto;
    grid-template-rows: 60px  auto 60px;
    grid-template-areas:
    "header   header"
    "sidebar  map"
    "footer   footer";
    }
}

#messagePanel {
    width: 290px;
    height: 75px;
    position: absolute;
    bottom: 0;
    background-color:gray;
    font-size: 12px;
}