html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Avenir Next W00";
}

.header {
    grid-area: header;
    background-color:#112E51
}

.footer {
    grid-area: footer;
    /* background-color: #0079c1; */
}

.sidebar {
    grid-area: sidebar;
    background-color: #333;
    
    position: relative;
}

.swdi-select {
    /* color: green; */
    font-size: small;
}

.map {
grid-area: map;
}

.wrapper {
    display: grid;
    grid-template-rows: 25%  25% auto, 25%;
    grid-template-areas:
        "header"
        "sidebar"
        "map"

        "footer";
    width: 100vw;
    height: 100vh;
}

.box {
    color: #fff;
    padding: 10px;
    font-size: 20px; 
}

@media only screen and (min-width: 544px)  {
.wrapper {
    grid-template-columns: 320px auto;
    grid-template-rows: 100px  auto 35px;
    grid-template-areas:
    "header   header"
    "sidebar  map"
    "footer   footer";
    }
}

#messagePanel {
    width: 300px;
    height: 75px;
    /* position: absolute; */
    /* bottom: 0; */
    background-color:gray;
    font-size: 12px;
}

/* #navDiv {
    position: relative;
} */

#submenu {
    position: absolute;
    top: 60px;
}

#tooltip {
    overflow: auto;
    z-index: 99;
    position: absolute;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    width: 260px; 
    height: 200px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

#linksDiv {
    font-size: medium;
    margin:0;
    padding: 0;
}

.list-inline {
    /* list-style: none; */
    color:white;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-separator > li:not(:last-child)::after {
    content: "";
}

#dateSelect {
    background-color: grey; 
    display: none;
}

#footerDiv {
    background-color:#112E51;
    color:white;
    font-size:12px;
    font-family:Helvetica,Arial;
    font-weight:bold
}

#footerDiv a {
    color:white;
}

#footerDiv tr {
    background-color:#112E51
}

#introPanel {
    overflow: auto;
    z-index: 99;
    position: absolute;
    top: 115px;
    left: 325px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    width: 500px; 
    height: 300px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display:none;
}

#downloadPanel {
    overflow: auto;
    z-index: 99;
    position: absolute;
    top: 115px;
    left: 325px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    width: 500px; 
    height: 300px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display:none;
}
#downloadPanel a {
    color: white;
}

#disclaimerPanel {
    overflow: auto;
    z-index: 99;
    position: absolute;
    top: 115px;
    left: 325px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    width: 500px; 
    height: 300px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display:none;
}

#creditsPanel {
    overflow: auto;
    z-index: 99;
    position: absolute;
    top: 115px;
    left: 325px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    width: 500px; 
    height: 300px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display:none;
}

#creditsPanel a {
    color: white;
}

#loadingDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    display: none;
}