<div class="footer-container">
<!-- taken from original application -->
   <table style="text-align:center;border-top:none;">
      <tr><td colspan="5"></td></tr>
      <tr><td align="left">SWDI is a joint project of 
         <a href="https://www.ncdc.noaa.gov">NOAA's National Climatic Data Center</a>,
         <a href="https://www.unca.edu">UNCA</a>'s
         <a href="https://nemac.unca.edu">National Environmental Modeling and Analysis Center</a>, and the
         <a href="https://www.renci.org">Renaissance Computing Institute</a>.</td>
      <td><a href="https://www.ncdc.noaa.gov"><img border="0" src="https://www.ncdc.noaa.gov/swdi/images/ncdc.gif" alt="NEMAC Logo"/></a></td>
      <td><a href="https://www.unca.edu"><img border="0" src="https://www.ncdc.noaa.gov/swdi/images/unca.png" alt="UNCA Logo"/></a></td>
      <td><a href="https://nemac.unca.edu"><img border="0" src="https://www.ncdc.noaa.gov/swdi/images/nemac.gif" alt="NEMAC Logo"/></a></td>
      <td><a href="https://www.renci.org"><img border="0" src="https://www.ncdc.noaa.gov/swdi/images/renciunca.png" alt="RENCI Logo"/></a></td>
   </tr>
   <tr><td colspan="5">For support and questions about SWDI, email <a href="mailto:swdi.ncdc@noaa.gov">swdi.ncdc@noaa.gov</a>.</td></tr>
   </table>
</div>