<div class="drawer-container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>About this application</mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      The Severe Weather Data Inventory (SWDI) is an integrated database of severe weather records for the United States. The records in SWDI come from a variety of sources in the NCDC archive. SWDI provides the ability to search through all of these data to find records covering a particular time period and geographic region, and to download the results of your search in a variety of formats. The formats currently supported are Shapefile (for GIS), KMZ (for Google Earth), CSV (comma-separated), and XML.
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Bulk Download</mat-panel-title>
      <!-- <mat-panel-description>
        CSV files available for efficient database download.
      </mat-panel-description> -->
    </mat-expansion-panel-header>
    <div>
      The SWDI database is available as comma-separated text format (CSV) files for each dataset and are available
      for download from: <br><br>
      (HTTP) <a href="http://www1.ncdc.noaa.gov/pub/data/swdi">http://www1.ncdc.noaa.gov/pub/data/swdi</a> 
      <br> or <br> 
      (FTP) <a href="ftp://ftp.ncdc.noaa.gov/pub/data/swdi">ftp://ftp.ncdc.noaa.gov/pub/data/swdi</a>
      <br><br>
      Please refer to the CHANGELOG.txt and KNOWN_ISSUES.txt files in the download directory for more information on the database.
      <br><br>     
    </div>
  </mat-expansion-panel>

  <div>
      <div class="location-container">
          <!-- <mat-form-field hintLabel="Enter address, city, zip or 'lat,lon' coordinates: (ex: 34.5,-90.5)">
            <input matInput #input maxlength="100" placeholder="Search by location">
          </mat-form-field> -->
        
          <!-- <mat-form-field>
            <mat-select placeholder="Select me">
              <mat-option value="option">Option</mat-option>
            </mat-select>
            <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
          </mat-form-field> -->
      </div>


  </div>
  
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Web Services
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        automate queries or integrate into your own application.<br>
        <a href="http://www.ncdc.noaa.gov/swdiws" target="_blank">Developer Documentation</a>
      </div>
    </mat-expansion-panel>
  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Disclaimer
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      SWDI provides a uniform way to access data from a variety of sources, but it does not provide any additional quality control beyond the processing which took place when the data were archived. The data sources in SWDI will not provide complete severe weather coverage of a geographic region or time period, due to a number of factors (eg, reports for a location or time period not provided to NOAA). The absence of SWDI data for a particular location and time should not be interpreted as an indication that no severe weather occurred at that time and location. Furthermore, much of the data in SWDI is automatically derived from radar data and represents probable conditions for an event, rather than a confirmed occurrence.
    </div>
  </mat-expansion-panel>
  
</div>
